mat-drawer
    width: 250px // Increase the width of the sidebar
    min-height: 100vh
    a
        line-height: 24px // Adjust this value as needed
        justify-content: center
        margin: auto
    span
        display: flex !important
        align-items: center !important
    mat-icon
        margin-right: 10px
