<mat-card [style.filter]="assessment.active ? 'none' : 'grayscale(100%)'" (click)="onAssessmentClick(assessment.id)" class="card">
  <mat-card-header>
    <mat-card-title>{{ assessment.name }}</mat-card-title>
  </mat-card-header>
  <div class="image-container">
    <img mat-card-image [src]="assessment.image_url" alt="{{ assessment.name }}">
  </div>
  <mat-card-content class="card-content">
    <p class="center"><mat-icon class="icon">group</mat-icon> Users Resolved: {{ assessment.users_resolved }}</p>
    <p class="center">
      <mat-icon *ngIf="assessment.active; else inactiveIcon" class="icon active" >check_circle</mat-icon>
      <ng-template #inactiveIcon><mat-icon class="icon">highlight_off</mat-icon></ng-template>
      <span [class.active]="assessment.active">{{ assessment.active ? 'Active' : 'Inactive' }}</span>
    </p>
  </mat-card-content>
</mat-card>
