@import '../../app.variables.sass'

.card
    width: 16rem
    background-color:$color-gray-2

.centered-title
   
    margin: auto
    padding: 8px
.active 
    color: $color-green
    // font-weight: 400

.center
    display: flex
    text-align: center
    align-items: center
    align-content: center

.icon 
    margin-right: 10px


.card-content
    margin-top: 10px

.image-container
    min-height: 14rem
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

    img
       min-height: 14rem
