@import '../../app.variables.sass'

.card
    width: 16rem
    background-color: $color-gray-2

mat-card-header
    display: flex
    justify-content: center
    padding: 8px

mat-card-content
    margin-top: 12px
    padding-bottom: 0px !important

.image-container
    min-height: 14rem
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

.image-container img
    min-height: 14rem

.info, .status
    display: flex
    align-items: center
    justify-content: center
    margin: 8px 0px

mat-icon
    margin-right: 10px

.active
    color: $color-green

.inactive
    filter: grayscale(100%) brightness(50%)

.view-graph
    display: flex
    justify-content: center
    padding: 8px 0px
    button
        background-color: #ffffff09